*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Darker-cyan: hsl(158, 61%, 16%);
    --Cream: hsl(30, 38%, 92%);
    --Dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    color: var(--Dark-grayish-blue);
    background-color: var(--Cream);
    display: grid;
    place-items: center;
    min-height: 100%;
}

main {
    margin-top: auto;
    display: grid;
    place-items: var(--Cream);
}

.preview {
    display: grid;
    background-color: var(--White);
    border-radius: 8px;
    max-width: 600px;
    overflow: hidden;
    margin: 2rem;
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.1);
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.preview-img>img {
    width: 100%;
}

.preview-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.preview-info>* {
    margin-bottom: 1rem;
}

.category {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.7rem;
    font-weight: 500;
}

.preview-info>h1 {
    font-family: 'Fraunces', serif;
    color: var(--Dark-blue);
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1;
    overflow-wrap: break-word;
}

.preview-info>p {
    font-weight: 500;
    line-height: 1.5;
    font-size: 0.8rem;
}

.price {
    display: flex;
    align-items: center;
}

.current-price {
    font-family: 'Fraunces', serif;
    color: var(--Dark-cyan);
    font-size: 2rem;
}

.original-price {
    margin-left: 1rem;
    font-size: .75rem;
    text-decoration: line-through;
}

.preview-info>button {
    background-color: var(--Dark-cyan);
    font: inherit;
    color: var(--White);
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: .9rem;
    display: flex;
    justify-content: center;
    gap: .7rem;
    cursor: pointer;
}

.preview-info>button:is(:hover, :focus) {
    background-color: var(--Darker-cyan);
}

.preview-info>button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url("./images/icon-cart.svg");
    width: 15px;
    height: 16px;
}

footer {
    margin-top: auto;
}

@media (min-width:600px) {
    .preview {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .category {
        margin-top: .5rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}